
<div class="row">
    @model IEnumerable<Library.Shared.IBook>
    @{

    }
    <h1>Books</h1>
    <table class="table table-hover">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author Name</th>
        </tr>
        @foreach (var row in Model)
        {
        <tr>
            <td scope="row"></td>
            <td>@row.Name</td>
            <td>@row.Author.Name</td>
        </tr>
        }

    </table>
</div>
