
<div class="row">
    @using Library.Core.Shared;
    @model HomeViewModel
    @{
        var i = 0;
        var showForm = false;
    }
    <h1>Books</h1>

    @using (Html.BeginForm("Index", "GetTypeForm", FormMethod.Post))
    {
        <div class="form-group">
            <label for="f1_typeSelect">Type of entity: </label> 
            @Html.EnumDropDownListFor(m => m.EntityType, null, new { id = "exampleFormControlInput1", @class = "form-control", onchange = "this.form.submit()" })
        </div>
    }
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        if (ViewBag.Type)
        @switch (ViewBag.)
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
    }


    <table class="table table-hover">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author Name</th>
        </tr>
        @foreach (var row in Model.Books)
        {
            i++;
            <tr>
                <td scope="row">@i</td>
                <td>@row.Name</td>
                <td>@row.Author.Name</td>
                <td>
                    <div class="dropdown">
                        <a class="nounderline dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Actions... <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (row.IsGivenUse)
                            {
                                <li><a href="#">Give in use...</a></li>
                            }
                            else
                            {
                                <li><a href="#">Take from use...</a></li>
                            }

                            <li role="separator" class="divider"></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
